<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BASE URL -->
    <base href="{% for config in configs %}{{ config.root }}{% endfor %}">

    <!-- FAVICONS -->

    <!-- OTHER META INFORMATION -->
    <title>{% block title %}{% endblock %} | e/learn</title>
	<meta name="description" content="{% block metadescription %}{% endblock %}">
	<meta name="author" content="Edgar Lechaudel">

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Overpass+Mono|Overpass:400,700" rel="stylesheet">

	<!-- MAIN CSS STYLES -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="styles/main.css">
</head>

<body>

	{% block content %}{% endblock %}
	
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>