{% extends "layouts/base.twig" %}

{% block title %}home{% endblock %}
{% block metadescription %}
	A place where you can find all the courses I'm developing for my students as well as articles I'm writing.
{% endblock %}


{% block content %}

	<div class="page-background bg-color--black">

		<div class="page-layout">
			
			<!-- Begin nav -->
			{% include "partials/navigation.twig" %}
			<!-- End nav -->
			
			<!-- Begin page content -->

			<div class="main-content">
				<section id="chapters-list" class="vertical-spacing--160--bottom">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-8 vertical-spacing--80--bottom">
								<h1>Kickstart your Digital Marketing skills</h1>
							</div>
						</div>
						<div class="row">
							{% for chapter in chapters %}
								<div class="col-lg-6">
									{% include 'partials/chapter-link.twig' %}
								</div>
							{% endfor %}
						</div>
					</div>
				</section>

				<section id="modules-list" class="vertical-spacing--160--bottom">
					<div class="container-fluid">
						<div class="row vertical-spacing--64--bottom">
							<div class="col-md-8">
								<h2>Syllabus of the course</h2>
							</div>
						</div>
						<div class="row">
							{% for module in modules %}
								{% include 'partials/block-module.twig' %}
							{% endfor %}
						</div>
					</div>
				</section>

				<section id="about" class="vertical-spacing--80--bottom">
					<div class="container-fluid">
						<div class="row vertical-spacing--40--bottom">
							<div class="col-md-8">
								<h2>Who made this course?</h2>
							</div>
						</div>
						<div class="row vertical-spacing--80--bottom">
							<div class="col-md-8">
								<p>Hi, welcome on e/learn. My name is Edgar, I’m a Digital Marketer and Designer at Apart Design Studio. Since I arrived in Luxembourg I had the opportunity to give courses for the Media Writing BTS at Lycée Classique de Diekirch. The objective of the course is to teach the stakes of Digital Marketing on Search Engines and Social Networks.</p>
							</div>
						</div>
						<div class="row">
							{% for social in socials %}
								<div class="col-xl-4 vertical-spacing--24--bottom">
									{% include 'partials/social-link.twig' %}
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
			</div>

			<!-- End page content -->

			<!-- Begin basic-footer -->
			<!-- End basic-footer -->

		</div>

	</div>

	<!-- Begin chapter-footer -->
	{% for chapter in chapters %}
		{% if loop.first %}
			{% include "partials/chapter-footer.twig" %}
		{% endif %}
	{% endfor %}
	<!-- End chapter-footer -->
	
{% endblock %}